<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backnet</title>
    <script src="/dist/main.bundle.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>به سامانه مدیریت اینترنت دانشگاه امیرکبیر خوش آمدید!</h1>
      <p>
      این سامانه برای انجام امور مدیریتی روزمره با سیستم اینترنت
      دانشگاه طراحی شده است.
      در نظر داشته باشید برای دسترسی به سرویس‌ها
      نیاز است که نام کاربری و رمزعبور خود را همراه داشته باشید
      و در مراحلی که از شما درخواست می‌شود آن را وارد نمایید.
      </p>
      <p>
      نسخه {{ .version }}
      </p>
      <div class="btn-group-vertical" role="group">
        <a href="/conference" class="btn btn-primary">ساخت کنفرانس</a>
      </div>
    </div>
  </body>
</html>
